.App {
  text-align: center;
  background-color: black;
  color: white
}

.App h2{
  color: #ffc822
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffc822a9;
  text-decoration: none;
}
.App-link:hover{
  color : white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pad{
  padding: 2%;
  margin: 2%;
 
}

.conto{
  background-color: black;
  align-items: center;
  display: flex;
  flex-direction: column;
  width:100%;
  justify-content: center;
  padding: 3%;
  overflow: auto;
  border-radius: 0px 0px 15px 15px;
}
.year{
  background-color: #ffc822;
  width: 100%;
  color: #000000;
  text-align: center;
  border: #ffc822 solid 0.5px;
}
.card{
  border-radius: 0px;
  border:0.002px grey solid;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-top: none;
}
.top-cont{
  border-radius: 15px 15px 0px 0px;
}
.card-title{
  border: 0.002px grey solid ;
  border-left: none;
  border-right: none ;
  background-color: #ffc822;
}

.col::-webkit-scrollbar{
  display: none
}
/* Hide scrollbar for IE, Edge and Firefox */
.col{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* .reimg{
    
  position: absolute;
  bottom: 0;
 background-color: #000000;
  width: 100%; height: 100%;
  padding: 40px;
      background: linear-gradient(to left,transparent,black);  
} */
.btn{
  outline: none;
  border: none;
}
.btn:focus, .btn:hover{
outline: none;
box-shadow: none;
border: none;
}

div.scrollmenu{
  overflow: scroll;
  color: #ffc822;
  /* white-space: nowrap; */
}
div.scrollmenu a {
  display: inline-block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: #ffc822;
} 

a{
  color : #ffc822;
  text-decoration: none;
}
a:hover{
  color : #ffbf00
}

#thumb{
  width: 150%;
}
.imgcon{
  border-radius: 20px ;
  margin-bottom: 2%;
  position: relative;
  height: 250px ;
  display: flex;
  align-items: center;
  overflow: hidden;
  /* box-shadow: #3f3f3f 1px 1px 5px ; */
  max-width: 880px;
  /* box-shadow : #ffbf00 0px 1px 15px  */
}
.reimg{
  height: 100%;
  background:transparent;background:linear-gradient(to right,transparent,transparent,rgba(0, 0, 0, 0.185),rgba(0, 0, 0, 0.521),black,black)}
.eimg,.reimg{position:absolute;bottom:0;color:#ffc822;width:100%; padding: 20px}
.eimg{background:transparent;background:linear-gradient(180deg,transparent,rgba(0, 0, 0, 0.541),rgb(0, 0, 0), rgb(0, 0, 0), black)}

.con{
  position: relative;
}

#myFacts{
  background-color: #000000;
}

/* share button checking css from css ticks */

.hidden {
  display: none;
}

svg {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

button, .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 4px;
  border: 1px solid #ddd;
  cursor: pointer;
}

button:hover, .button:hover {
  border-color: #cdd;
}

.share-button, .copy-link {
  padding-left: 30px;
  padding-right: 30px;
}

.share-button, .share-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.share-dialog {
  display: none;
  width: 95%;
  max-width: 500px;
  box-shadow: 0 8px 16px rgba(0,0,0,.15);
  z-index: -1;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
}

.share-dialog.is-open {
  display: block;
  z-index: 2;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.targets {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 20px;
}

.close-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.close-button svg {
  margin-right: 0;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  background-color: #eee;
}

.pen-url {
  margin-right: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* here ends */


/* card facts */

.card-facts{
  max-width:999px;
  overflow-x:auto;
  display: flex; 
  flex-wrap: nowrap; 
}

.card-facts-cont{

}